# Variables, Expressions and Statements

## Variables and Types

In [1]:
a=1
type(a)

int

In [2]:
b="uno"
type(b)

str

In [3]:
c="1"
type(c)

str

In [4]:
e=2.2
type(e)

float

In [5]:
f=True
type(f)

bool

In [6]:
g=(1,2,3,4,5)
type(g)

tuple

In [7]:
h=[1,2,3,4,5]
type(h)

list

In [12]:
l={'january': 4098, 'february': 4127} 
type(l)

dict

In [4]:
d=complex('1+2j')
type(d)

complex

In [9]:
i=range(0,10,2)
type(i)

range

### Type conversions

In [7]:
a=12
print(type(a))
b=str(a)
print(type(b))

<class 'int'>
<class 'str'>

In [10]:
c=12.12
print(type(c))
d=str(c)
print(type(d))

<class 'float'>
<class 'str'>

In [14]:
e="15.56"
print(type(e))
f=float(e)
print(type(f))

<class 'str'>
<class 'float'>

In [1]:
## This line will fail
c=12.12
print("Strings can only be concatenated with strings"+c)

TypeError: can only concatenate str (not "float") to str

In [11]:
## This line will succeed
c=12.12
print("Strings can only be concatenated with strings: "+str(c))

Strings can only be concatenated with strings: 12.12

In [15]:
## This line will fail
c=12.12
e="15.56"
print("Numeric values can only be operated with numeric values")
c+e

Numeric values can only be operated with numeric values

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [19]:
## This line will succeed
c=12.12
e="15.56"
print("Numeric values can only be operated with numeric values")
c+float(e)

Numeric values can only be operated with numeric values

27.68

## Naming Rules

In [21]:
if = "Good morning"

SyntaxError: invalid syntax (<ipython-input-21-bac7df0a94f4>, line 1)

In [21]:
12variable = 12.0

SyntaxError: invalid syntax (<ipython-input-21-d6a34504f326>, line 1)

In [22]:
savings_in_€ = 1200.00

SyntaxError: invalid character in identifier (<ipython-input-22-23587e84af81>, line 1)

In [ ]:
variable=42
edad=42

## Expressions

In [23]:
import numpy as np

In [24]:
100 + 20

120

In [25]:
50/20

2.5

In [26]:
"Good morning"+" "+"my friends"

'Good morning my friends'

In [27]:
np.pi==3.1416

False

## Operators

### Arithmetic Operators

In [23]:
a = 21
b = 10
c = 0

c = a + b
print("Value of a + b is ", c)

c = a - b
print("Value of a - b is ", c)

c = a * b
print("Value of a * b is ", c) 

c = a / b
print("Value of a / b is ", c)

c = a % b
print("Value of a % b is ", c)

a = 14
b = 5
c = a//b 
print("Value of a//b is ", c)

a = 2
b = 3
c = a**b 
print("Value of a**b is ", c)

Value of a + b is  31
Value of a - b is  11
Value of a * b is  210
Value of a / b is  2.1
Value of a % b is  1
Value of a//b is  2
Value of a**b is  8

### Comparison Operators

In [1]:
a = 21
b = 10
c = 0

if ( a == b ):
    print("a is equal to b")
else:
    print("a is not equal to b")

a is not equal to b

In [3]:
if ( a != b ):
    print("a is not equal to b")
else:
    print("a is equal to b")

if ( a < b ):
    print("a is less than b")
else:
    print("a is not less than b")

if ( a > b ):
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not equal to b
a is not less than b
a is greater than b

In [4]:
a = 5;
b = 20;
if ( a <= b ):
    print("a is either less than or equal to  b")
else:
    print(" a is neither less than nor equal to  b")

if ( b >= a ):
    print("b is either greater than or equal to  a")
else:
    print("b is neither greater than nor equal to  a")

a is either less than or equal to  b
b is either greater than or equal to  a

### Assignement Operators

In [29]:
a = 21
b = 10

c = a + b

print ("Value of c = a + b is ",c)

Value of c = a + b is  31

In [31]:
a = 21
b = 10

b = b + a
print ("Value of b += a is ", c )

Value of b = b+ a is  31

In [32]:
a = 21
b = 10

b += a
print ("Value of b += a is ", c )

Value of b += a is  31

In [34]:
a = 21
b = 10

b *= a
b = b*a
print ("Value of b *= a is ", b )

Value of b *= a is  210

In [35]:
a = 21
b = 10

b /= a
b = b/a
print ("Value of b /= a  is ", b )

Value of b /= a  is  0.47619047619047616

In [36]:
a = 20
b = 45

b %= a 
b=b%a
print ("Value of b %= a is ", b)

Value of b %= a is  5

In [37]:
a = 20
b = 45

b //= a
print ("Value of b //= a is ", b)

Value of b //= a is  2

In [38]:
a = 5
b = 2

b **= a
print ("Value of b **= a is ", b)

Value of b **= a is  32

### Bitwise Operators

In [1]:
a = 60            # 60 = 0011 1100
b = 13            # 13 = 0000 1101
print ('a=',a,':',bin(a))
print ('b=',b,':',bin(b))

a= 60 : 0b111100
b= 13 : 0b1101

In [4]:
c = a & b;        # 12 = 0000 1100
print ("result of AND is ", c,':',bin(c))

result of AND is  12 : 0b1100

|Number|b8|b7|b6|b5|b4|b3|b2|b1|
|-|-|-|-|-|-|-|-|-|
|60|0|0|1|1|1|1|0|0|
|13|0|0|0|0|1|1|0|1|
|60 & 13 = 12|0|0|0|0|1|1|0|0|

In [5]:
c = a | b;        # 61 = 0011 1101 
print ("result of OR is ", c,':',bin(c))

result of OR is  61 : 0b111101

In [47]:
c = a ^ b;        # 49 = 0011 0001
print ("result of XOR is ", c,':',bin(c))

result of XOR is  49 : 0b110001

In [48]:
c = ~a;           # -61 = 1100 0011
print ("result of COMPLEMENT is ", c,':',bin(c))

result of COMPLEMENT is  -61 : -0b111101

In [6]:
c = a << 2;       # 240 = 1111 0000
print ("result of LEFT SHIFT is ", c,':',bin(c))

result of LEFT SHIFT is  240 : 0b11110000

In [50]:
c = a >> 2;       # 15 = 0000 1111
print ("result of RIGHT SHIFT is ", c,':',bin(c))

result of RIGHT SHIFT is  15 : 0b1111

### Logical Operators

In [51]:
True and True

True

In [52]:
True and False

False

In [53]:
False and False

False

In [54]:
True or True

True

In [55]:
True or False

True

In [56]:
False or False

False

In [57]:
not(True or True)

False

In [58]:
True or not(True)

True

In [59]:
not(True) or not(True)

False

### Membership Operators

In [60]:
a = 10
b = 20
vector = [1, 2, 3, 4, 5 ]

if ( a in vector ):
   print ("a is available in the given list")
else:
   print ("a is not available in the given list")

a is not available in the given list

In [61]:
if ( b not in vector ):
   print ("b is not available in the given list")
else:
   print ("b is available in the given list")

b is not available in the given list

In [62]:
c = b/a
if ( c in vector ):
   print ("a is available in the given list")
else:
   print ("a is not available in the given list")

a is available in the given list

### Identity Operators

In [2]:
a = 20
b = a
print ('a=',a,':',id(a))
print ('b=',b,':',id(b))

a= 20 : 140734125390208
b= 20 : 140734125390208

In [3]:
if ( a is b ):
   print ("a and b have same identity")
else:
   print ("a and b do not have same identity")

a and b have same identity

In [65]:
if ( id(a) == id(b) ):
   print ("a and b have same identity")
else:
   print ("a and b do not have same identity")

a and b have same identity

In [66]:
b = 30
print ('a=',a,':',id(a))
print ('b=',b,':',id(b))

if ( a is not b ):
   print ("a and b do not have same identity")
else:
   print ("a and b have same identity")

a= 20 : 140721259324400
b= 30 : 140721259324720
a and b do not have same identity

### Operators Precedence

In [73]:
a = 20
b = 10
c = 15
d = 5

print ("a:%d b:%d c:%d d:%d" % (a,b,c,d ))

a:20 b:10 c:15 d:5

In [74]:
e = a + b * c / d       # 20 + ( 10 * 15 ) / 5
print ("Value of a + b * c / d is ",  e)

Value of a + b * c / d is  50.0

In [75]:
e = (a + b) * c / d       # (20 + 10) * 15  / 5
print ("Value of (a + b) * c / d is ",  e)

Value of (a + b) * c / d is  90.0

In [76]:
e = ((a + b) * c) / d     # ((20 + 10) * 15 ) / 5
print ("Value of ((a + b) * c) / d is ",  e)

Value of ((a + b) * c) / d is  90.0

In [54]:
e = (a + b) * (c / d)    # (20 + 10) * (15/5)
print ("Value of (a + b) * (c / d) is ",  e)

Value of (a + b) * (c / d) is  90.0

In [77]:
e = a + (b * c) / d      #  20 + ( 10 * 15 ) / 5
print ("Value of a + (b * c) / d is ",  e)

Value of a + (b * c) / d is  50.0

## Compositions

In [78]:
print(5+9)

14

In [79]:
number=10
print(5/number)

0.5

In [30]:
street="Baker Street"
door="221B"
print(door+" "+street)
print(door," ",street)

221B Baker Street
221B   Baker Street

In [21]:
hours=1.5
print("Number of seconds since train arrived: ",hours*3600)

Number of seconds since train arrived:  5400.0

In [82]:
name="Gianis"
surname="Antetokounmpo"
team="Milwaukee Bucks"
print("%s %s plays with %s" % (name,surname,team))
print("{} {} plays with {}".format(name,surname,team))

Gianis Antetokounmpo plays with Milwaukee Bucks
Gianis Antetokounmpo plays with Milwaukee Bucks

## Comments

In [83]:
# compute the percentage of the hour that has elapsed 
minute = 15
percentage = (minute * 100) / 60

In [32]:
distance=500 # in meters 
time=60 # in seconds
speed= distance/time # Beware of division by 0. In m/s

In [85]:
print("split a string into an array of characters")
# https://stackoverflow.com/questions/4978787/how-to-split-a-string-into-array-of-characters
s = "foobar"
list(s)

split a string into an array of characters

['f', 'o', 'o', 'b', 'a', 'r']