# Data Types and Data Structures

## Numeric Types

In [1]:
a=-10
print(type(a))
b=-10.10
print(type(b))
c=a+b
print("value: {} of type: {}".format(c,type(c)))
d=complex(2,2)
e=d+a
print("value: {} of type: {}".format(e,type(e)))

<class 'int'>
<class 'float'>
value: -20.1 of type: <class 'float'>
value: (-8+2j) of type: <class 'complex'>

## Boolean Types

In [2]:
a=10
b=20
print("a==b",a==b)
print("a>=b",a>=b)
print("a<=b",a<=b)
print("a!=b",a!=b)

a==b False
a>=b False
a<=b True
a!=b True

In [3]:
c=[1,2,3,4,5,6,7,8,9,10]
d=7
e=17
print("d is in list?",d in c)
print("e is in list?",e in c)

d is in list? True
e is in list? False

In [4]:
name = ["A","B","C","D","E","F","H","I","J","K"]
age = [10,15,20,25,30,35,40,17,23,38]
height = [151,162,143,178,180,192,156,176,165,182]
relocation = ["Y","Y","Y","Y","Y","Y","N","N","N","N"]
connected = [False,False,False,False,False,False,False,False,True,True]
for i in range(0,10,1):
    condition=age[i]>22 \
              and height[i]> 150 \
              and height[i]<180  \
              and relocation[i]=="Y"  \
              or connected[i]==True 
    print("i {} named {} fulfil conditions: {}".format(i, name[i], condition))

i 0 named A fulfil conditions: False
i 1 named B fulfil conditions: False
i 2 named C fulfil conditions: False
i 3 named D fulfil conditions: True
i 4 named E fulfil conditions: False
i 5 named F fulfil conditions: False
i 6 named H fulfil conditions: False
i 7 named I fulfil conditions: False
i 8 named J fulfil conditions: True
i 9 named K fulfil conditions: True

## Strings

#### We can index them

In [5]:
a="This is an example of a String variable"
print("Lenght of string: ",len(a))
print("First character: ",a[0])
print("Last character: ",a[38])
print("But also this: ",a[-1])

Lenght of string:  39
First character:  T
Last character:  e
But also this:  e

#### We can iterate them

In [6]:
a="Short String"
for i in range(0,len(a),1):
    print(a[i])

S
h
o
r
t

S
t
r
i
n
g

In [7]:
a="Short String"
for char in a:
    print(char)

S
h
o
r
t

S
t
r
i
n
g

#### We can slice them

In [8]:
a="01/01/2019 18:45:00 MSG: Reboot of main controller SEVERITY: Heavy ACTION: Shutdown"
timestamp=a[:19]
msg=a[25:50]
severity=a[61:66]
action=a[75:]
print(timestamp)
print(msg)
print(severity)
print(action)

01/01/2019 18:45:00
Reboot of main controller
Heavy
Shutdown

#### But they are not mutable

In [9]:
a="Short String"
a[7]="T"
print(a)

TypeError: 'str' object does not support item assignment

#### We use addition operator

In [11]:
a="This is the begining of the sentence"
b="and this is the end of the sentence"
print(a+" "+b)

This is the begining of the sentence and this is the end of the sentence

#### We can compare them

In [12]:
a="watermelon"
b="waterloo"
c="waterworld"
print("watermelon larger than waterloo:",a>b)
print("watermelon smaller than waterworld:",a<c)

watermelon larger than waterloo: True
watermelon smaller than waterworld: True

#### We can search inside the strings

In [13]:
log="01/01/2019 18:45:00 MSG: Reboot of main controller SEVERITY: Heavy ACTION: Shutdown"
start=log.find("MSG")
end=log.find("SEVERITY")
print(log[start:end])

MSG: Reboot of main controller

#### Change the case

In [14]:
print(log.upper())
print(log.lower())

01/01/2019 18:45:00 MSG: REBOOT OF MAIN CONTROLLER SEVERITY: HEAVY ACTION: SHUTDOWN
01/01/2019 18:45:00 msg: reboot of main controller severity: heavy action: shutdown

#### Different checks

In [15]:
key=log[20:23]
print(key)
print("Upper: ",key.isupper())
print("Is alphanumeric: ",key.isalnum())
print("Is numeric: ",key.isdigit())
print("Is alphabetic: ",key.isalpha())
print("Is space: ",key.isspace())

MSG
Upper:  True
Is alphanumeric:  True
Is numeric:  False
Is alphabetic:  True
Is space:  False

#### Spliting

In [16]:
line="Agueda|25|Madrid|Student|Single|A"
elements=line.split("|")
print(elements)
name=elements[0]
age=elements[1]
city=elements[2]
job=elements[3]
martial=elements[4]
driving=elements[5]
print("{0} {1} years old lives in {2} as {3} with driving licence {4}".format(name,age,city,job,driving))

['Agueda', '25', 'Madrid', 'Student', 'Single', 'A']
Agueda 25 years old lives in Madrid as Student with driving licence A

#### Joining

In [17]:
list1=["Madrid","Berlin","London","Paris","Rome"]
print(type(list1))
print(",".join(list1))
print(" - ".join(list1))
print(" * ".join(list1))

<class 'list'>
Madrid,Berlin,London,Paris,Rome
Madrid - Berlin - London - Paris - Rome
Madrid * Berlin * London * Paris * Rome

## Lists

In [18]:
number_list= [10,20,30,40,-50,-60,-80]
print(type(number_list))

<class 'list'>

In [19]:
string_list= ["Madrid","Berlin","London","Paris","Rome"]
print(type(string_list))

<class 'list'>

In [20]:
misc_list= ["monday", 35, True, complex(3,4),["Madrid","Berlin"]]
print(type(misc_list))

<class 'list'>

In [21]:
empty=[]
print(type(empty))

<class 'list'>

### Linespace and Ranges can be used as lists

In [22]:
import numpy as np
sequence=np.linspace(1,20,5)
print(sequence)
print(type(sequence))
list1=list(sequence)
print(type(list1))

[ 1.    5.75 10.5  15.25 20.  ]
<class 'numpy.ndarray'>
<class 'list'>

In [23]:
sequence=range(1,20,5)
print(list(sequence))
print(type(sequence))
list2=list(sequence)
print(type(list2))

[1, 6, 11, 16]
<class 'range'>
<class 'list'>

### Accessing elements

In [24]:
sequence=["zero","one","two","three"]
print(sequence[0])
print(sequence[1])
print(sequence[2])
print(sequence[3])
print(sequence[-1])
print(sequence[-2])
print(sequence[-3])
print(sequence[-4])
print(sequence[4])

zero
one
two
three
three
two
one
zero

IndexError: list index out of range

### Membership in lists

In [25]:
sequence=["banana","apple","watermelon","strawberry"]
a="pineapple" in sequence
print("Pineapple in list: ",a)
b="watermelon" in sequence
print("Watermelon in list: ",b)

Pineapple in list:  False
Watermelon in list:  True

### Looping using length

In [26]:
sequence=["zero","one","two","three"]
print("Length of sequence ",len(sequence))
for i in range(0,len(sequence)):
    print("Element {}: {}".format(i,sequence[i]))

Length of sequence  4
Element 0: zero
Element 1: one
Element 2: two
Element 3: three

### Looping without indexing

In [27]:
sequence=["zero","one","two","three"]
for number in sequence:
    print("Element: ",number)

Element:  zero
Element:  one
Element:  two
Element:  three

### Apply operators

In [28]:
sequence1=["banana","apple","watermelon","strawberry"]
sequence2=["zero","one","two","three"]
sequence1+sequence2

['banana', 'apple', 'watermelon', 'strawberry', 'zero', 'one', 'two', 'three']

In [29]:
sequence2*2

['zero', 'one', 'two', 'three', 'zero', 'one', 'two', 'three']

### Slice lists

In [30]:
sequence=["zero","one","two","three","four","five"]
print(sequence[:3])
print(sequence[2:5])
print(sequence[4:])
print(sequence[-3:])

['zero', 'one', 'two']
['two', 'three', 'four']
['four', 'five']
['three', 'four', 'five']

### Lists are mutable

In [31]:
sequence=["banana","apple","watermelon","strawberry"]
sequence[1]="pineapple"
print("Update one element: ",sequence)
sequence[-1]="melon"
print("Update one element: ",sequence)
sequence[2:4]=["blackberry", "blackcurrant"]
print("Update two elements: ",sequence)
sequence[1:1]=["apple","watermelon","melon"]
print("Insert new elements: ",sequence)
del sequence[1]
print("Remove one element: ",sequence)
del sequence[1:3]
print("Remove several elements: ",sequence)

Update one element:  ['banana', 'pineapple', 'watermelon', 'strawberry']
Update one element:  ['banana', 'pineapple', 'watermelon', 'melon']
Update two elements:  ['banana', 'pineapple', 'blackberry', 'blackcurrant']
Insert new elements:  ['banana', 'apple', 'watermelon', 'melon', 'pineapple', 'blackberry', 'blackcurrant']
Remove one element:  ['banana', 'watermelon', 'melon', 'pineapple', 'blackberry', 'blackcurrant']
Remove several elements:  ['banana', 'pineapple', 'blackberry', 'blackcurrant']

### Aliasing on list or any mutable object

#### Those are diferent objects on different memory locations

In [32]:
list1=[1,2,3]
list2=[1,2,3]
print(list1,"memory position: ",id(list1))
print(list2,"memory position: ",id(list2))

[1, 2, 3] memory position:  2161873555656
[1, 2, 3] memory position:  2161873344776

In [33]:
list1=[1,2,3]
list2=list1
print(list1,"memory position: ",id(list1))
print(list2,"memory position: ",id(list2))

[1, 2, 3] memory position:  2161873395528
[1, 2, 3] memory position:  2161873395528

#### What happens to one object happens to its alias

In [34]:
list1=[1,2,3]
list2=list1
del list2[1]
print("List1 ",list1)
print("List2 ",list2)

List1  [1, 3]
List2  [1, 3]

#### To avoid aliasing, use cloning

In [35]:
list1=[1,2,3]
list2=list1[:]
print("List1: ", list1,"memory position: ",id(list1))
print("List1: ", list2,"memory position: ",id(list2))
del list2[1]
print("List1 ",list1)
print("List2 ",list2)

List1:  [1, 2, 3] memory position:  2161873463816
List1:  [1, 2, 3] memory position:  2161873383560
List1  [1, 2, 3]
List2  [1, 3]

#### That also happens to unmutable objects but as they are unmutable there is no risk

In [36]:
string1="Hola"
string2=string1
print(string1,"memory position: ",id(string1))
print(string2,"memory position: ",id(string2))

Hola memory position:  2161873354568
Hola memory position:  2161873354568

### Arrays: Nested Lists

In [37]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]] 
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [38]:
row=matrix[1]
print(row)

[4, 5, 6]

In [39]:
element=row[1]
print(element)
element2=matrix[1][1]
print(element2)

5
5

## Tuples

In [40]:
tuple1=1,2,3,4
print("This is a tuple: ",tuple1)
print(type(tuple1))
tuple2=("four",5,"six",7)
print("This is also a tuple: ",tuple2)
print(type(tuple2))

This is a tuple:  (1, 2, 3, 4)
<class 'tuple'>
This is also a tuple:  ('four', 5, 'six', 7)
<class 'tuple'>

In [41]:
print("they can be indexed: ",tuple1[3])
print("they can be sliced: ",tuple1[:3])

they can be indexed:  4
they can be sliced:  (1, 2, 3)

In [42]:
print("But they cannot be modified")
tuple1[2]=22

But they cannot be modified

TypeError: 'tuple' object does not support item assignment

## Dictionaries

#### creation

In [43]:
dictionary={"hola":"bonjour","adios":"aurevoir","hasta pronto":"a bientot"}
print(dictionary)

{'hola': 'bonjour', 'adios': 'aurevoir', 'hasta pronto': 'a bientot'}

In [44]:
print("Hola in french: ",dictionary["hola"])
print("Adios in french: ",dictionary["adios"])
print("Hasta pronto in french: ",dictionary["hasta pronto"])

Hola in french:  bonjour
Adios in french:  aurevoir
Hasta pronto in french:  a bientot

#### creation element by element

In [45]:
dictionary={}
dictionary["patata"]="pomme"
dictionary["cinco"]=5
dictionary["naranja"]="orange"
dictionary["bolsa"]=["bourse","sac"]
print(dictionary)

{'patata': 'pomme', 'cinco': 5, 'naranja': 'orange', 'bolsa': ['bourse', 'sac']}

#### creation with dict()

In [46]:
dictionary=dict(patata="pome",cinco=5,naranja="orange",bolsa=["bourse","sac"])
print(dictionary)

{'patata': 'pome', 'cinco': 5, 'naranja': 'orange', 'bolsa': ['bourse', 'sac']}

#### creation from list of tuples

In [47]:
list_of_tuples=[("patata","pome"),("cinco",5),("naranja","orange"),("bolsa",["bourse","sac"])]
dictionary=dict(list_of_tuples)
print(dictionary)

{'patata': 'pome', 'cinco': 5, 'naranja': 'orange', 'bolsa': ['bourse', 'sac']}

#### creation from two lists

In [48]:
keys=["patata","cinco","naranja","bolsa"]
values=["pomme",5,"orange",["bourse","sac"]]
dictionary=dict(zip(keys,values))
print(dictionary)

{'patata': 'pomme', 'cinco': 5, 'naranja': 'orange', 'bolsa': ['bourse', 'sac']}

### Easy to update

In [49]:
dictionary={"Teo":"admin","Liam":"viewer","Dora":"root","Noa":"viewer","Cris":"Viewer"}
print(dictionary)
dictionary["Noa"]="admin"
print(dictionary)

{'Teo': 'admin', 'Liam': 'viewer', 'Dora': 'root', 'Noa': 'viewer', 'Cris': 'Viewer'}
{'Teo': 'admin', 'Liam': 'viewer', 'Dora': 'root', 'Noa': 'admin', 'Cris': 'Viewer'}

In [50]:
print(dictionary)
print("Length: ",len(dictionary))
del dictionary["Teo"]
print(dictionary)
print("Length: ",len(dictionary))

{'Teo': 'admin', 'Liam': 'viewer', 'Dora': 'root', 'Noa': 'admin', 'Cris': 'Viewer'}
Length:  5
{'Liam': 'viewer', 'Dora': 'root', 'Noa': 'admin', 'Cris': 'Viewer'}
Length:  4

### Dictionary methods

In [51]:
dictionary={"yamaha":5,"suzuki":8,"ducati":2,"kawasaki":7}
print("Vehicles manufacturers: ",dictionary.keys())

Vehicles manufacturers:  dict_keys(['yamaha', 'suzuki', 'ducati', 'kawasaki'])

In [52]:
print("Number of vehicles: ",dictionary.values())

Number of vehicles:  dict_values([5, 8, 2, 7])

In [53]:
print("Full parking: ",dictionary.items())

Full parking:  dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])

In [54]:
for i in dictionary.items():
    print("Vehicle: ",i[0]," Amount: ",i[1])

Vehicle:  yamaha  Amount:  5
Vehicle:  suzuki  Amount:  8
Vehicle:  ducati  Amount:  2
Vehicle:  kawasaki  Amount:  7

### Dictionary aliases

In [55]:
parking={"yamaha":5,"suzuki":8,"ducati":2,"kawasaki":7}
parking2=parking
print(parking.items())
print(parking2.items())
del parking2["suzuki"]
print(parking.items())
print(parking2.items())

dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('ducati', 2), ('kawasaki', 7)])

In [56]:
parking={"yamaha":5,"suzuki":8,"ducati":2,"kawasaki":7}
parking3=parking.copy()
print(parking.items())
print(parking3.items())
del parking3["suzuki"]
print(parking.items())
print(parking3.items())

dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('suzuki', 8), ('ducati', 2), ('kawasaki', 7)])
dict_items([('yamaha', 5), ('ducati', 2), ('kawasaki', 7)])

### Sparse matrices

In [57]:
sparse_list=[[5,0,0,0,0,0],[0,0,0,0,0,0],[0,1,0,0,0,0], \
             [0,0,4,0,0,0],[0,0,0,0,0,0],[0,0,0,0,7,0]]
for i in sparse_list:
    print(i)

[5, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0]
[0, 1, 0, 0, 0, 0]
[0, 0, 4, 0, 0, 0]
[0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 7, 0]

In [58]:
sparse_dict={(0,0):5,(2,1):1,(3,2):4,(5,4):7}

In [59]:
from sys import getsizeof
print("Size sparse_list: ",getsizeof(sparse_list))
print("Size sparse_dict: ",getsizeof(sparse_dict))

Size sparse_list:  112
Size sparse_dict:  240

### Nested Dictionaries

In [60]:
registry={"Name":"Bob",
          "Job":["Developer","Scrum master"],
          "Web":"linkedin.com/bob",
          "Personal":{
              "Nationality":"British",
              "Age":36,
              "Status":"Divorced",
              "Address":{
                  "Street":"Fake Street",
                  "Number":123
              }
          }}

In [61]:
print(registry["Name"])
print(registry["Personal"]["Nationality"])
print(registry["Personal"]["Address"]["Street"])

Bob
British
Fake Street