# TEMA 8: Data Encoding

## CSV Files

### Option 1: Using regular python reading functions

We need to split the elements by ourselves

In [1]:
with open ('country.csv','r',encoding='ISO-8859-1') as file:
    header=file.readline().split(',')
    print("HEADER: ")
    print(header)
    row=file.readline().split(',')
    print("ELEMENTS:")
    print(row)

HEADER:
['Country', 'Capital', 'Area(km.sq)', 'Population(mio)', 'Pop. Growth', 'Currency', 'Inflation', 'Official name of Country\n']
ELEMENTS:
['Afghanistan', 'Kabul', '652 090 ', '29.12', '2.58%', 'Afghani', 'Not known', 'Islamic State of Afghanistan\n']

### Alternativa 1

* Using file.read()
* Split by lines
* Loop over the lines
* Split by comas

### Alternativa 2

* Using file.realdines()
* Loop over the lines
* Split by comas

### Alternativa 3

* Read line using file.readline()
* Loop while line has content
* Split line by comas

In [20]:
with open ('country.csv','r',encoding='ISO-8859-1') as file:
    line=file.readline()
    while len(line)!=0:
        row=line.split(",")
        # Do something with ROW
        line=file.readline()

### Option 2: Using CSV library

#### This library automatically do the split for us returning lists

In [21]:
import csv
with open ('country.csv','r',encoding='ISO-8859-1') as csvfile:
    file_reader=csv.reader(csvfile, delimiter=',')
    header=next(file_reader)
    print("HEADER: ")
    print(header)
    for row in file_reader:
        print("ELEMENTS:")
        print(row)
        break

HEADER:
['Country', 'Capital', 'Area(km.sq)', 'Population(mio)', 'Pop. Growth', 'Currency', 'Inflation', 'Official name of Country']
ELEMENTS:
['Afghanistan', 'Kabul', '652 090 ', '29.12', '2.58%', 'Afghani', 'Not known', 'Islamic State of Afghanistan']

#### This library can also read lines as dictionaries

In [22]:
import csv
with open ('country.csv','r',encoding='ISO-8859-1') as csvfile:
    file_reader=csv.DictReader(csvfile)
    for row in file_reader:
        print("Country: "+row["Country"]+
              " Capital: "+row["Capital"]+
              " and Population: "+row["Population(mio)"])
        break

Country: Afghanistan Capital: Kabul and Population: 29.12

### Writing file with CSV package:

#### Writing using lists

In [23]:
import csv
with open('coches.txt', mode='w',newline='') as fcoches:
    header=['modelo','matricula','color','año']
    coches_writer=csv.writer(fcoches, delimiter='^')
    coches_writer.writerow(header)
    coches_writer.writerow(['Seat Ibiza','8349PFG','Rojo', '2016'])
    coches_writer.writerow(['BMW X3','9449OTF','Azul', '2018'])
    coches_writer.writerow(['Ford Focus','9339FJJ','Negro', '2017'])

#### Writing using dictionaries

In [24]:
import csv
with open('coches2.txt', mode='w',newline='') as fcoches:
    header=['modelo','matricula','color','año']
    coches_writer=csv.DictWriter(fcoches,delimiter='^',fieldnames=header)
    coches_writer.writeheader()
    coches_writer.writerow({'modelo':'Opel Corsa','matricula':'8349TFG','color':'verde','año':'2012'})
    coches_writer.writerow({'modelo':'Opel Vectra','matricula':'8472BSR','color':'rojo','año':'2010'})
    coches_writer.writerow({'modelo':'BMW 320','matricula':'2398TYD','color':'morado','año':'2009'})

### Writing file without CSV package??

In [26]:
header=['modelo','matricula','color','año']
with open('coches3.txt', mode='w',newline='') as fcoches:
    fcoches.write("^".join(header))
    fcoches.write("\n")
    fcoches.write("^".join(['Seat Ibiza','8349PFG','Rojo', '2016']))
    fcoches.write("\n")
    fcoches.write("^".join(['BMW X3','9449OTF','Azul', '2018']))
    fcoches.write("\n")
    fcoches.write("^".join(['Ford Focus','9339FJJ','Negro', '2017']))

## EXCEL FILES using PANDAS

### Reading excel files

In [8]:
import pandas as pd
df=pd.read_excel("elections_results.xlsx")
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Arkansas,AR,Johnson,5071,Republican,Ted Cruz,1004,0.298
1,Virginia,VA,Fluvanna,51065,Republican,Ben Carson,232,0.064
2,Wisconsin,WI,Oconto,55083,Democrat,Bernie Sanders,2577,0.513
3,Illinois,IL,Crawford,17033,Democrat,Hillary Clinton,609,0.501
4,North Carolina,NC,Gaston,37071,Republican,John Kasich,2125,0.084

### Writing excel files

In [9]:
values=[['Seat Ibiza','8349PFG','Rojo', '2016'],
            ['BMW X3','9449OTF','Azul', '2018'],
            ['Ford Focus','9339FJJ','Negro', '2017']]
header=["modelo","matricula","color","año"]
df=pd.DataFrame(values,columns=header)
df.head()

       modelo matricula  color   año
0  Seat Ibiza   8349PFG   Rojo  2016
1      BMW X3   9449OTF   Azul  2018
2  Ford Focus   9339FJJ  Negro  2017

In [10]:
df.to_excel("coches4.xlsx",index=False)

## JSON Files

Run this API REST request to see what is a JSON Object

In [27]:
import requests
r = requests.get('https://api.chucknorris.io/jokes/random')
r.json()

{'categories': [],
 'created_at': '2020-01-05 13:42:23.240175',
 'icon_url': 'https://assets.chucknorris.host/img/avatar/chuck-norris.png',
 'id': 'dDFP97kVTX660_Y-3XDyvQ',
 'updated_at': '2020-01-05 13:42:23.240175',
 'url': 'https://api.chucknorris.io/jokes/dDFP97kVTX660_Y-3XDyvQ',
 'value': 'Chuck Norris drinks unholy water.'}

In [28]:
output=r.json()
print(type(output))

<class 'dict'>

Now you can access all the elements of this object according the dicctionary rules

In [29]:
output["value"]

'Chuck Norris drinks unholy water.'

### Reading JSON Files

Json files are regular text files with a JSON object inside. If we read it, we will recover the content as a STRING variable

In [30]:
with open('menu.json','r',encoding='utf-8') as file:
    json_string=file.read()

In [31]:
print(json_string)

{
  "menu": {
    "day": "29/10/2019",
    "value": "11.50€",
    "food": {
      "options": [
        {"starter": "soup", "main": "fish&chips"},
        {"starter": "salad", "main": "pasta"},
        {"starter": "steak tartare", "main": "tuna"}
      ]
    }
  }
}

In [32]:
type(json_string)

str

### How to access the 3rd Menu Food Option??

In [42]:
start=json_string.find("[")
end=json_string.find("]")
list_string=json_string[start:end]
list_string

'[\n        {"starter": "soup", "main": "fish&chips"},\n        {"starter": "salad", "main": "pasta"},\n        {"starter": "steak tartare", "main": "tuna"}\n      '

In [43]:
list_clean=list_string.replace("\n","").replace("[","").replace("]","")
list_clean

'        {"starter": "soup", "main": "fish&chips"},        {"starter": "salad", "main": "pasta"},        {"starter": "steak tartare", "main": "tuna"}      '

In [46]:
third_option=list_clean.split("},")[2]
third_option

'        {"starter": "steak tartare", "main": "tuna"}      '

In [61]:
start=third_option.find("{")
end=third_option.find("}")
option_clean=third_option[start:end]
option_clean

'{"starter": "steak tartare", "main": "tuna"'

In [63]:
dishes=option_clean.replace("{","").replace('"','').split(",")
dishes

['starter: steak tartare', ' main: tuna']

In [64]:
for i in dishes:
    print(i)

starter: steak tartare
 main: tuna

#### There exsits libraries that allow to convert those STRINGS in JSONs (dictionaries)

In [66]:
import json
json_dict = json.loads(json_string)

In [67]:
json_dict["menu"]["food"]["options"]

[{'starter': 'soup', 'main': 'fish&chips'},
 {'starter': 'salad', 'main': 'pasta'},
 {'starter': 'steak tartare', 'main': 'tuna'}]

In [68]:
print("Date: ",json_dict["menu"]["day"])
print("Price: ",json_dict["menu"]["value"])
print("Third menu option:")
print(json_dict["menu"]["food"]["options"][2])

Date:  29/10/2019
Price:  11.50€
Third menu option:
{'starter': 'steak tartare', 'main': 'tuna'}

### Writing JSON files

Writing a JSON file is basically saving a dictionary into a text file

In [69]:
print(type(json_dict))

<class 'dict'>

In [70]:
json_dict

{'menu': {'day': '29/10/2019',
  'value': '11.50€',
  'food': {'options': [{'starter': 'soup', 'main': 'fish&chips'},
    {'starter': 'salad', 'main': 'pasta'},
    {'starter': 'steak tartare', 'main': 'tuna'}]}}}

In [71]:
with open('menu2.json','w',encoding='utf-8') as file:
    file.write(str(json_dict))

# PANDAS in 5 minutes

### Reading files

In [2]:
import pandas as pd
df=pd.read_csv('country.csv',encoding='ISO-8859-1')
print(type(df))
df.head(2)

<class 'pandas.core.frame.DataFrame'>

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Inflation,Official name of Country
0,Afghanistan,Kabul,652 090,29.12,2.58%,Afghani,Not known,Islamic State of Afghanistan
1,Algeria,Alger,2 381 741,34.3,1.20%,Dinar,Not known,People's Democratic Republic of Algeria

#### Accessing by row number

In [5]:
df.iloc[0:2]

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Inflation,Official name of Country
0,Afghanistan,Kabul,652 090,29.12,2.58%,Afghani,Not known,Islamic State of Afghanistan
1,Algeria,Alger,2 381 741,34.3,1.20%,Dinar,Not known,People's Democratic Republic of Algeria

#### Selecting some columns

In [6]:
columns=["Country","Capital","Population(mio)","Pop. Growth","Official name of Country"]
df.iloc[0:2][columns]

,Country,Capital,Population(mio),Pop. Growth,Official name of Country
0,Afghanistan,Kabul,29.12,2.58%,Islamic State of Afghanistan
1,Algeria,Alger,34.3,1.20%,People's Democratic Republic of Algeria

#### Filtering by condition

In [6]:
df["Currency"]=="Dollar"

0      False
1      False
2      False
3      False
4      False
5       True
6      False
7      False
8       True
9      False
10     False
11     False
12     False
13      True
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112     True
113    False
114    False
115    False
116    False
117    False
118    False
119     True
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134     True
Name: Currency, Length: 135, dtype: bool

In [17]:
df[df["Currency"]=="Dollar"]

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Official name of Country,newCol
5,Bahamas,Nassau,13 940,0.35,0.93%,Dollar,Commonwealth of the Bahamas,This is New
8,Belize,Belmopan,22 960,0.33,2.15%,Dollar,NaN,This is New
13,Brunei,Bandar Seri Begawan,5 765,0.41,1.76%,Dollar,Brunei Darussalam,This is New
37,Fiji,Suva,18 376,0.85,1.38%,Dollar,Republic of Fiji,This is New
47,Guyana,George Town,214 970,Not known,-0.63%,Dollar,Cooperative Republic of Guyana,This is New
56,Jamaica,Kingston,10 490,2.73,0.76%,Dollar,NaN,This is New
65,Liberia,Monrovia,111 370,4.1,2.67%,Dollar,Republic of Liberia,This is New
83,New Zealand,Wellington,269 000,4.4,0.94%,Dollar,NaN,This is New
103,Solomon Islands,Honiara,27 556,0.53,2.39%,Dollar,NaN,This is New
112,Taiwan,Taipei,39 179,23.16,0.23%,Dollar,NaN,This is New
119,Trinidad and Tobago,Port Of Spain,5 130,1.32,-0.10%,Dollar,Republic of Trinidad and Tobago,This is New
134,Zimbabwe,Harare,390 759,12.64,1.53%,Dollar,Republic of Zimbabwe,This is New

#### Add new column

In [7]:
df["newCol"]="This is New"
df.head()

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Inflation,Official name of Country,newCol
0,Afghanistan,Kabul,652 090,29.12,2.58%,Afghani,Not known,Islamic State of Afghanistan,This is New
1,Algeria,Alger,2 381 741,34.3,1.20%,Dinar,Not known,People's Democratic Republic of Algeria,This is New
2,Angola,Luanda,1 246 700,18.99,2.10%,Kwanza,Not known,Republic of Angola,This is New
3,Antigua and Barbuda,Saint Johns,440,0.09,1.30%,E.C. Dollar,Not known,NaN,This is New
4,Argentina,Buenos Aires,2 766 890,40.09,1.05%,Peso,Not known,Argentine Republic,This is New

#### Remove column

In [9]:
df.drop(columns=["Inflation"],inplace=True)
df.head()

,Country,Capital,Area(km.sq),Population(mio),Pop. Growth,Currency,Official name of Country,newCol
0,Afghanistan,Kabul,652 090,29.12,2.58%,Afghani,Islamic State of Afghanistan,This is New
1,Algeria,Alger,2 381 741,34.3,1.20%,Dinar,People's Democratic Republic of Algeria,This is New
2,Angola,Luanda,1 246 700,18.99,2.10%,Kwanza,Republic of Angola,This is New
3,Antigua and Barbuda,Saint Johns,440,0.09,1.30%,E.C. Dollar,NaN,This is New
4,Argentina,Buenos Aires,2 766 890,40.09,1.05%,Peso,Argentine Republic,This is New

### Writing files with PANDAS

In [18]:
values=[['Seat Ibiza','8349PFG','Rojo', '2016'],
            ['BMW X3','9449OTF','Azul', '2018'],
            ['Ford Focus','9339FJJ','Negro', '2017']]
header=["modelo","matricula","color","año"]
df=pd.DataFrame(values,columns=header)
df.head()

       modelo matricula  color   año
0  Seat Ibiza   8349PFG   Rojo  2016
1      BMW X3   9449OTF   Azul  2018
2  Ford Focus   9339FJJ  Negro  2017

In [13]:
df.to_csv("coches3.csv",sep="^",index=False)